.black-text{
	color:black;
}
#about{
	height:25vh;
}
i.icon-blue{
	color:blue;
<<<<<<< HEAD
}
a{
	color:black;
}
#clubs-preview{
	height:50vh;
}
#img-box{
	height:25vh;
	background-image:url(Graphics/classpicture.jpg);
}
#text-box{
	height:300px;
}
.portfolio .portfolio-holder
{
    clear: both;
    text-align: center;
}

.portfolio img
{
    width: 33%;
    display: inline-block;
    float: left;
}